/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #09192a;
}

.login a:hover {
    color: #00b3ee !important;
}

#wrapper {
    width: 100%;
    background: #09192a;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #e5ebf2;
}

#page-inner {
    width: 100%;
    margin: 0;
    //margin: 10px 20px 10px 0px;
    background-color: transparent;
    padding-top: 10px;
    min-height: 1200px;
}

.text-center {
    text-align: center;
}

.no-boder {
    border: 1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 7px;
    margin-bottom: -5px;
}

h2 {
    color: #000;
}

h4 {
    padding-top: 10px;
}

.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}

/*----------------------------------------------
   DASHBOARD STYLES
------------------------------------------------*/
.page-header {
    padding-bottom: 9px;
    margin-top: 10px;
    //margin: 10px 0 45px;
    border-bottom: 1px solid #c7d1dd;
}

.panel-back {
    background-color: #fff;

}

.panel-default > .panel-heading {
    color: #FFF;
    background-color: #337AB7;
    border-color: #ddd;
    font-weight: bold;
}

.jumbotron, .well {
    background: #fff;
}

.noti-box {
    min-height: 100px;
    padding: 20px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.text-box p {
    margin: 0 0 3px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}

.bg-color-green {
    background-color: #fff;
    color: #5cb85c;
}

.bg-color-blue {
    background-color: #fff;
    color: #4cb1cf
}

.bg-color-red {
    background-color: #fff;
    color: #f0433d;
}

.bg-color-brown {
    background-color: #fff;
    color: #f0ad4e;
}

.back-footer-green {
    background-color: #5cb85c;
    color: #fff;
    border-top: 0px solid #fff;
}

.back-footer-red {
    background-color: #f0433d;
    color: #fff;
    border-top: 0px solid #fff;
}

.back-footer-blue {
    background-color: #4cb1cf;
    color: #fff;
    border-top: 0px solid #fff;
}

.back-footer-brown {
    background-color: #f0ad4e;
    color: #fff;
    border-top: 0px solid #fff;
}

.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702a8;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.main-temp-back .text-temp {
    font-size: 40px;
}

.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2ea7eb;
    color: #fff;
}

.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}

.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}

/*CHAT PANEL*/
.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}

.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
    margin-left: 90px;
}

.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}

.chat-img > img {
    margin-left: 20px;
}

footer p {
    font-size: 14px;
}

.login footer p {
    margin-left: 18%;
    color: #fff;
}

/*----------------------------------------------
    MENU STYLES
------------------------------------------------*/

.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}

.top-navbar {
    margin: 0px;
}

.top-navbar .navbar-brand {
    color: #fff;
    width: 260px;
    text-align: left;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
}

.top-navbar .nav > li {
    position: relative;
    display: inline-block;
}

.top-navbar .nav > li > a {
    position: relative;
    display: block;
    padding: 19px 15px;
    color: #00bfe0;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: #225081;
    color: #fff;
}

.top-navbar .dropdown-menu {
    min-width: 230px;
    border-radius: 0 0 4px 4px;
}

.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus {
    color: #225081;
    background: none;
}

.dropdown-tasks {
    width: 255px;
}

.dropdown-tasks .progress {
    height: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.dropdown-tasks > li > a {
    padding: 0px 15px;
}

.dropdown-tasks p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 4px;
}

.active-menu {
    background-color: #337AB7 !important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav > li > a {
    color: #fff;
    background: transparent;
    text-shadow: none;

}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.collapse.in {
    background: #172d44;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

    outline: 0;
}

.navbar-side {
    border: none;
    background-color: transparent;

}

.top-navbar {
    background: #09192a;
    border-bottom: none;

}

.top-navbar .nav > li > a > i {
    margin-right: 2px;
}

.top-navbar .navbar-brand:hover {
    color: #fff;

}

.dropdown-user li {
    margin: 8px 0;
}

.navbar-default {
    border: 0px solid black;

}

.navbar-header {
    background: #09192a;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #b40101;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav > li > a > i {
    margin-right: 10px;
}

/*----------------------------------------------
    UI ELEMENTS STYLES
------------------------------------------------*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.table>tbody>tr>td {
    text-align: center;
    vertical-align: middle;
}

/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 210px;
        padding: 0px 30px;
        min-height: 1200px;

    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 210px;
    }

    .navbar {
        border-radius: 0px;
    }

}

@media (max-width: 480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }
}

/*----------------------------------------------
    CUSTOM ELEMENTS
------------------------------------------------*/
.products-container {
    max-height: 400px;
    overflow-y: scroll;
}

.products-container ul {
    margin: 0;
    padding: 0;
}

.products-container li {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product {
    width: 100%;
    height: 90px;
    background-size: 100% auto;
    background-position: center top;
    border: 1px solid #b9b9b9;
    border-radius: 3px 3px 0 0;
    transition: all 300ms;
    position: relative;
    opacity: .7;
}

.product .only-enabled {
    display: none;
}

.product .only-disabled {
    display: inline-block;
}

.product.active {
    border-color: #9d9d9d;
    opacity: 1;
}

.product.active .only-enabled,
.product .only-disabled {
    display: inline-block;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 5px 6px 0 0;
}

.product.active .only-disabled {
    display: none;
}

.only-enabled .fa,
.only-disabled .fa {
    color: #2ca02c;
    opacity: .7;
    font-size: 1.8em;
}

.only-disabled .fa {
    color: #b30000;
}

.product.processing {
    opacity: .3;
}

.change-status {
    font-size: 0;
    width: 100%;
}

.change-status .product-status {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -1px;
    transition: all 300ms;
    opacity: .85;
}

.change-status .product-status:hover {
    text-decoration: none;
    opacity: 1;
}

.change-status .product-status.product-status-enabled {
    background: forestgreen;
    color: #081808;
}

.change-status .product-status.product-status-default {
    background: #f4f4f4;
    color: #081808;
}

.change-status .product-status.product-status-disabled {
    background: #c42722;
    color: #52110e;
}

.panel-body.with-limits {
    max-height: 300px;
    overflow-y: scroll;
}

.list-item {
    margin-bottom: .5em;
    min-height: 40px;
}

.list-item .delete-url {
    display: inline-block;
    vertical-align: top;
    background: #d62728;
    color: #fff;
    opacity: .8;
    transition: all 300ms;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.list-item .delete-url:hover {
    opacity: .9;
    text-decoration: none;
}

.panel-body.no-inactive .delete-url {
    display: none;
}

.list-item .list-item-name {
    display: inline-block;
    width: 250px;
    line-height: 20px;
    padding-left: 1em;
    font-size: .9em;
}

.list-item .select-box {
    float: right;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    padding: .5em 1em;
}

.to-center {
    text-align: center;
}

#data-table_filter .form-control.input-sm {
    margin-left: 10px;
}

.height-scroll {
    max-height: 810px;
    overflow-y: scroll;
}

.lenguages_title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;

    margin-bottom: 10px;
    margin-left: -16px;
    margin-right: 0%;

    border: 1px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #337AB7;
    border-color: #ddd;
}

.lenguages_title span {
    color: #FFF;
    background-color: #337AB7;
    border-color: #ddd;
    font-weight: bold;
    padding-right: 1%;
}

.btn {
    padding: 4px 8px !important;
    margin-right: 0.2em;
}

.row {
    margin-right: 0px!important; 
}



.note-editor .note-editing-area .note-editable {
    height: 256px;
}

form label {
    vertical-align: top;
    margin-right: 0.5em;
}

form.products .buttons,  form.pedidos .buttons {
    display: inline-block;
}

form.products, form.pedidos{
    margin: .5em 0;
}

form.products .buttons .red, form.pedidos .buttons .red  {
    background-color: #FF6868 !important;
    border-color: #FF6868 !important;
}

.panel-body {
    padding: 0;
    margin: 25px;
}
.panel-buscador{
    border:1px solid #ddd!important;
    margin: 25px;
    background-color: white!important;
}

.panel-buscador{
    color: #000 !important;
}

.buscador-interior {
    padding: 5px 0px;
    margin-bottom: 15px;
}

.calendar-button {
    width:2em; display:inline-block; cursor:pointer; text-align: center; color: #337AB7;
}


.datepicker span{
    font-weight: 200;
}

.datepicker input {
    width: 10em;
    display: inline-block;
}

.products input, .products select, .pedidos input, .pedidos select, .datepicker input {
    font-weight: 200;
    height: 2em;
    padding: 0px 10px;
}

.table > thead > tr > th {
    text-align: center;
}

.table-responsive {
    overflow-x: visible;
}

.note-toolbar.panel-heading {
    background-color: #F5F5F5;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.sorteabled li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.sorteabled li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}


/* line 4, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000; }

/* line 10, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical {
    margin: 0 0 9px 0;
    min-height: 10px; }
/* line 13, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee; }
/* line 20, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
/* line 25, /Users/jonasvonandrian/jquery-sortable/source/css/jquery-sortable.css.sass */
ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none; }

/* line 32, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol {
    list-style-type: none; }
/* line 34, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol i.icon-move {
    cursor: pointer; }
/* line 36, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol li.highlight {
    background: #333333;
    color: #999999; }
/* line 39, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol li.highlight i.icon-move {
    background-image: url("../img/glyphicons-halflings-white.png"); }

/* line 42, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nested_with_switch, ol.nested_with_switch ol {
    border: 1px solid #eeeeee; }
/* line 44, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nested_with_switch.active, ol.nested_with_switch ol.active {
    border: 1px solid #333333; }

/* line 48, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
    cursor: pointer; }

/* line 51, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
ol.simple_with_animation {
    border: 1px solid #999999; }

ol.simple_with_animation {
    border: 1px solid #999999;
}
ol.vertical {
    margin: 0 0 9px 0;
    min-height: 10px;
}
ol {
    list-style-type: none;
}
ol {
    list-style: decimal;
}

.lenguages div.content{
   margin-top: 15px;
}