:root {
  /*colors*/
  --main-blue: #00bde0;
  --default-color: #023c4e;
  --white: #fff;
  --gradient-top:#023240;
  --gradient-bottom:#01455a;

  /*fonts*/
  --main-font: "Muli";
  --title-font: "Playfair Display";

  --padding-head:91px;
  --ancle:skewY(-3deg);
  --height:300px;
  --reverse-ancle:skewY(3deg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {width:100%;font-family:var(--main-font) !important;}
.container{width: 80% !important;max-width: 80% !important;margin:0 auto;padding: 0 !important;}
a{color:var(--default-color);}
a:hover{text-decoration: none !important;}
.padding-head{padding-top: var(--padding-head);}
.btn-yellow{outline: none;font-weight: 700;transition: all 0.5s ease; color: #fcbf10;font-size: 14px;border-radius: 24px;border: 1px solid #fcbf10;height: 48px;max-width: 240px;line-height: 45px;text-align: center;}
.btn-yellow a{color: #fcbf10;}
.btn-yellow-full{outline: none;transition: all 0.5s ease;font-size: 16px;font-weight: 700;color:var(--default-color);background-color: #fcbf10;border-radius: 24px;border:1px solid #fcbf10;height: 48px;max-width:  201px;text-align:  center;line-height: 46px;}
.btn-yellow-full a{display:block;transition: all 0.5s ease;color:var(--default-color);}
.btn-blue{outline: none;transition: all 0.5s ease;display: inline-block;height: 48px;color: var(--main-blue);font-size: 16px;border: 1px solid var(--main-blue);border-radius: 24px;line-height: 47px;width: 281px;text-align: center;font-weight: 700;vertical-align: bottom;}
.btn-blue:hover{transition: all 0.5s ease;background: var(--main-blue);}
.btn-blue a{display:block;transition: all 0.5s ease; color:var(--main-blue);}
.btn-blue:hover a{transition: all 0.5s ease;color:#fff;}
.title-home{color: var(--main-blue); font-family: var(--title-font); font-weight: 700;font-size: 72px;}
.title-page{font-family: var(--title-font);color: var(--default-color);font-size: 48px;margin-bottom: 27px;}

/* HEADER */
header {width: 100%;background: var(--white);}
header .menu > li{color:var(--default-color);display: inline-block;}
#header {background: var(--white);position: relative;z-index: 100;}
#header.hide-transparent{opacity: 0.9;}

#header:after {background: inherit;bottom: 0;content: '';display: block;height: var(--height);left: 0;position: absolute;right: 0;transform: var(--ancle);transform-origin: 100%;z-index: -1;}
/* HOME */
section.home .top{height: 591px;position: relative;background: url('/front/img/home/foto-con-rayas.jpg') no-repeat center center; background-size: cover;}
section.home .top .top-home{margin-top:80px;}
section.home .left-col{margin-top: 72px;}
section.home .left-col .title-top{text-shadow: 0 0 22px rgba(1, 0, 1, 0.39);font-size: 60px;font-family: var(--title-font);color:var(--white);line-height: 64px;margin-bottom: 38px;}
section.home .right-col{z-index: 10;padding:47px 70px 0;margin-top: 25px;background: url('/front/img/home/bg-home-top.png') no-repeat top center; max-width: 500px;width: 100%;}
section.home .right-col .left-col{margin-top: 72px;}
section.home .right-col .text-box{color:var(--white);max-width: 318px;margin: 0 auto;}
section.home .right-col .text-box p{font-size: 14px;line-height: 19px;margin-bottom: 15px;}
section.home .right-col .text-box p.text-grand{font-size: 22px;line-height: 24px;}
section.home .right-col .text-box p:last-child{margin-bottom: 45px;}
section.home .right-col .white-box{box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.35);background: var(--white);color: var(--main-blue);font-family: var(--title-font);font-size: 36px;margin-top: 20px;padding: 26px 17px 56px;}
section.home .top:after {background: #00b3ee;bottom: -80px;content: '';display: block;height: var(--height);left: 0;position: absolute;right: 0;transform: var(--ancle);transform-origin: 100%;z-index: -1;}
section.home .infographics{padding: 94px 0;position: relative;background: #023240;background: -moz-linear-gradient(top, #86145a 0%, #e63e4a 100%);background: -webkit-linear-gradient(top, #023240 0%,#01455a 100%);background: linear-gradient(to bottom, #023240 0%,#01455a 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86145a', endColorstr='#e63e4a',GradientType=0 );margin-top: 45px;transform: var(--ancle);}
section.home .infographics .container{transform: var(--reverse-ancle);}
/*.infographics:after{*/
/*background: var(--default-color);*/
/*bottom: -217px;*/
/*content: '';*/
/*display: block;*/
/*height: 429px;*/
/*left: 0;*/
/*position: absolute;*/
/*right: 0;*/
/*transform: var(--reverse-ancle);*/
/*transform-origin: 100%;*/
/*z-index: -1;*/
/*}*/
/*.infographics:before{background: var(--default-color);top: 0;content: '';display: block;height: 96px;left: 0;position: absolute;right: 0;transform: var(--ancle);transform-origin: 100%;z-index: -1;}*/
.infographics h2{color:#fff;font-size: 24px;font-family: var(--title-font); margin-bottom: 47px;}
section.home .infographics .inner-info{    margin-top: 100px;}
section.home .infographics p{color:#fff;}
section.home .infographics .text-info{font-size: 14px;font-family: var(--main-font);font-weight: 700;line-height: 18px;}
section.home .infographics .title-info{font-family:var(--main-font); font-size:14px; font-weight: 400;text-transform: uppercase;    margin-bottom: 0;}
section.home .infographics .text-info p span{color: var(--main-blue);}
section.home .infographics .text-info .info-block{display: none;}

section.home .specializations{margin-top: -5.5%;transform: var(--reverse-ancle);background: url('/front/img/home/bg-especializaciones.jpg') no-repeat center center; background-size: cover;}
section.home .specializations .container{transform: var(--ancle);}
section.home .specializations .title-home{position: absolute;z-index: 1;top: 40px;transform: var(--ancle);color:var(--main-blue);font-family: var(--title-font);font-weight: 700;font-size: 72px;}
section.home .specializations .col-special{overflow: hidden;transition: all 0.5s ease;height: 660px;cursor: pointer;}
section.home .specializations .col-special:hover{transition: all 0.5s ease;background-color: rgba(2, 49, 64, 0.75) !important;}
section.home .specializations .col-special:hover .btn-yellow{background-color: #fcbf10;transition: all 0.5s ease; color:var(--default-color);}
section.home .specializations .col-special .inner-special{transform: var(--ancle);padding-top: 313px;}
section.home .specializations .col-special .inner-special p{margin-bottom: 50px;font-family: var(--title-font);color: #fff;font-size: 21px;text-align: center;}
section.home .specializations .col-special:nth-child(odd){background-color: rgba(0, 0, 0, 0.5);}
section.home .specializations .col-special:nth-child(even){background-color: rgba(0, 0, 0, 0.75);}
section.home .specializations .row{transform: var(--reverse-ancle);margin-top: -1px;}
section.home .specializations .col-special .inner-special.first-special p{max-width: 231px;margin: 0 auto 50px;}
section.home .specializations .col-special:hover .line-yellow{transition: all 0.5s ease;display:block;height: 124px;width: 1px;background-color: #fcbf10;position: absolute;top: 174px;left: 0;right: 0;margin: auto;}
section.home .specializations .col-special:hover .line-yellow.line-bottom{top: 497px;height: 200px;}
section.home .specializations .col-special .line-yellow{transition: all 0.5s ease;display:none;}
section.home .specializations .col-special .inner-special.second-special{padding-top: 327px;}
section.home .specializations .col-special .inner-special.second-special .line-yellow{top: 189px;}
section.home .specializations .col-special .inner-special.second-special .line-yellow.line-bottom{top:512px;}
section.home .specializations .col-special .inner-special.third-special{padding-top: 341px;}
section.home .specializations .col-special .inner-special.third-special .line-yellow{top: 203px;}
section.home .specializations .col-special .inner-special.third-special .line-yellow.line-bottom{top:525px}
section.home .specializations .col-special .inner-special.fourth-special{padding-top: 355px;}
section.home .specializations .col-special .inner-special.fourth-special .line-yellow{top: 216px;}
section.home .specializations .col-special .inner-special.fourth-special .line-yellow.line-bottom{top:540px;}

section.home svg#Capa_1{width: 800px;margin-top: -144px;}
section.home svg#Capa_1 circle, section.home svg#Capa_1 text{cursor:pointer;}

section.home .whitepapers{padding: 60px 0 80px;transform: var(--ancle);background: url('/front/img/home/bg-whitepapers.png') no-repeat center center; background-size: cover;}
section.home .whitepapers .container{transform: var(--reverse-ancle);}
section.home .whitepapers .btn-blue{margin-left: 84px;}
section.home .whitepapers .title-home{margin-bottom: -2px;display: inline-block;}
section.home .whitepapers .whitepaper {overflow: hidden;margin-top: 54px;background: #fff;box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);}
section.home .whitepapers .whitepaper .title-whitepaper{margin-bottom: 38px;font-family: var(--title-font);font-size: 36px;line-height: 38px;color: var(--default-color);}
section.home .whitepapers .whitepaper .left-col-whitepaper{padding:24px 30px 85px;}
section.home .whitepapers .whitepaper .left-col-whitepaper .text{max-width: 450px;margin-bottom: 65px;font-size: 20px;line-height: 30px;}
section.home .whitepapers .whitepaper .right-col-whitepaper{padding: 9px 7px 11px 0;}
section.home .whitepapers .whitepaper .right-col-whitepaper img{width: 100%;}

section.home .blog{padding: 60px 0 0;transform: var(--ancle);background: #f6f6f6; margin-bottom: 74px;}
section.home .blog .container{transform: var(--reverse-ancle);}
section.home .blog:after{background: #f6f6f6;bottom: -120px;content: '';display: block;height: var(--height);left: 0;position: absolute;right: 0;transform: var(--reverse-ancle);transform-origin: 100%;z-index: -1;}
section.home .blog .title-home{display: inline-block; margin-bottom: -2px;}
section.home .blog .btn-blue{margin-left: 131px;}
section.home .blog .col-article{margin-top:63px;padding:0;}
section.home .blog .col-article img{width:100%;}
section.home .blog .col-article .article-block{background: #fff;margin-top: -100px;position: relative;max-width: 286px;float: right;padding: 19px 59px 29px 15px;}
section.home .blog .col-article .article-block .title-article{font-size: 22px;line-height: 26px;color: var(--default-color);font-weight: 700;margin-bottom: 20px;}
section.home .blog .col-article .article-block .article-text{font-size: 16px;line-height: 24px;color: var(--default-color);}
section.home .blog .col-article .more{font-size: 16px;font-weight: 700;color: var(--default-color);}
section.home .blog .col-article .more a{transition: all 0.5s ease;color: var(--default-color);}
section.home .blog .col-article .more a:hover{transition: all 0.5s ease;color:var(--main-blue);}
section.home .blog .col-article .more a span{color: #fcbf10;margin-left: 10px;font-size: 24px;vertical-align: sub;}


/* SERVICES */
section.service{position: relative;}
.top-page{position: relative;z-index: 10;}
section.service .text-service{padding-top: 190px;background: #f4f8f9;position: relative;z-index: 0;}
section.service .text-service:after{background: inherit;bottom: 0;content: '';display: block;height: var(--height);left: 0;position: absolute;right: 0;transform: var(--ancle);transform-origin: 100%;z-index: -1;}
section.service .conclusion-service{background: url('/front/img/home/bg-whitepapers.png') no-repeat center center; background-size: cover;    padding: 123px 0 66px;}
section.service .conclusion-service img{box-shadow: 0 5px 10px 1px rgba(1, 0, 1, 0.15);}
section.service .blue-word{font-size: 16px;font-family: var(--main-font);color: var(--main-blue);}
section.service .title-service{margin-top: 6px;max-width: 740px;font-size: 58px;font-family: var(--title-font);line-height: 59px;color: var(--default-color);}
section.service .top-page{margin: 20px 0 46px 88px;}
section.service .top-page p{font-weight: 700;font-size: 21px;color: var(--default-color);}
section.service .text-page p{color: var(--default-color);font-size: 16px;line-height: 27px;margin-bottom: 35px;}
section.service .quote{padding-left: 88px;color: var(--main-blue);font-size: 46px;font-family: var(--title-font);line-height: 53px;margin-bottom: 70px;}
section.service .text-page .description2 p:last-child{margin-bottom: -15px;}
section.service .text-page .description1, section.service .text-page .description2{max-width: 406px;}
section.service .conclusion-service .conclusion{margin-left: 89px;color: var(--default-color);font-size: 21px;font-weight: 700;line-height: 32px;}
section.service .conclusion-service img{width: 100%;}
section.service .contact-block{padding:93px 0 96px;background: url('/front/img/contact-service.png') no-repeat center center; background-size:cover;}
section.service .big-title{font-family: var(--title-font);color: #fff;font-size: 36px;line-height: 42px;max-width: 600px;margin-bottom: 34px;}

/* CONTACT */
section.contact{padding:107px 0 289px;position:relative;background: url('/front/img/contact.png') no-repeat center center; background-size:cover;}
section.contact:before{background-color: rgba(255, 255, 255, 0.9);top: -233px;content: '';display: block;height: 775px;left: 0;position: absolute;right: 0;transform: skewY(-3deg);transform-origin: 100%;}
section.contact .container{z-index: 1;position: relative;}
section.contact .text-contact{color: var(--default-color);font-size: 21px;font-weight: 700;line-height: 25px;}
section.contact .form-block{overflow: hidden;background: #fff;padding: 39px 55px 40px;max-width: 430px;float: right;}
section.contact .btn-yellow-full{min-width: 201px;float: right;}
section.contact .form-block label{cursor: pointer;font-weight: 400;font-size: 14px;}
section.contact .form-block .form-control{box-shadow: none;height: 43px;background-color: #ededed;border: 1px solid #ededed;}
section.contact .form-block textarea.form-control{height: 164px; margin-top: 35px;}
section.contact .checks label:first-child{font-size: 16px; margin-bottom: 5px;}
section.contact .checks label{width:100%;font-size: 14px;}
section.contact .checks input{height: 20px;width: 20px;margin-right: 9px;vertical-align: bottom;}
section.contact #contactform input::placeholder, section.contact #contactform textarea::placeholder{color: #5e5e5e;}
section.contact .form-group{margin-bottom: 21px;}
section.contact .form-check .form-check-label .form-check-input{display: inline-block;height: 20px;width: 20px;margin-right: 9px;vertical-align: top;}
section.contact .form-check .acept-text{margin-bottom: 24px;display: inline-block;width: 89%;font-size: 14px;}
section.contact .contact-info{margin-top: 58px;}
section.contact .contact-info .link-contact{vertical-align:middle; font-size: 20px;color: var(--main-blue);font-weight: 700;}
section.contact .contact-info .info-text{margin-bottom: 21px;}
section.contact .contact-info .info-text svg{fill: var(--default-color);width: 27px;height: 27px;margin-right: 30px;vertical-align: middle;}
section.contact .contact-info .info-text p{color:var(--default-color);font-size: 16px;margin-bottom: 22px;display:  inline-block;}
section.contact .contact-info .info-text .link-map{font-size: 16px;margin-left: 61px;display: block;color:var(--main-blue);text-decoration: underline !important;}
section.contact .form-group.margin0{margin-bottom: 0;}
.gray-radio{
  visibility: hidden;
  display: none;
}
.gray-radio-label{
  display: block;
  position: relative;
  clear: both;
  margin: 0px 0px 10px 0px;
}
.gray-radio-label:after{
  content: '';
  width: 10px;
  height: 6px;
  position: absolute;
  top: 6px;
  left: 5px;
  border: 3px solid #9e9e9e;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gray-radio:checked+label:after{opacity: 1;}
.gray-radio-label:before{
  content: '';
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  top: 0px;
  left: 0px;
  float: left;
  border: 2px solid #9e9e9e;
  border-radius: 2px;
  margin-right: 9px;
  margin-bottom: 14px;
}
/* AGENCY */
section.agency{}
section.agency .top-agency{padding-bottom: 235px;padding-top: 143px;background: url('/front/img/agency/bg-agency.png') no-repeat center center;background-size: cover;}
section.agency .name-page{margin-bottom: 108px;font-size: 14px;font-weight: 700;text-transform: uppercase;color: var(--main-blue);}
section.agency .title{font-family: var(--title-font); font-size:48px;max-width: 545px;width: 90%;color:#fff;}
section.agency .subtitle{font-size: 26px;font-weight: 700;color: #fff;margin-top: 15px;}
section.agency .content-agency{background-color: #242f33;}
section.agency .content-agency .description{overflow: hidden;background-color: #023c4e;padding: 50px 115px 50px 115px;color: #fff;margin-top: -145px;}
section.agency .content-agency .description .phrase{padding-left: 61px;color:var(--main-blue);line-height: 36px;font-family: var(--title-font);font-size: 30px;}
section.agency .inner-agency{padding-top: 72px;overflow: hidden;
  padding-bottom: 116px;}
section.agency .text-col{margin-left: 10%;color:#fff;padding: 55px 100px 0 0;width: 40%;float:  left;}
section.agency .text-col p{font-size: 16px;}
section.agency .img-col{width: 50%;float: left;}
section.agency .img-col img{width:100%;}
section.agency .description .text-desc{font-size: 20px;line-height: 26px;max-width: 425px;}

/* PROJECTS */
section.projects{background: #f7f7f7;padding-top: 20px;}
section.projects .container{z-index: 1000;position: relative;}
section.projects .name-page{margin-bottom: 34px;font-size: 14px;font-weight: 700;text-transform: uppercase;color: var(--main-blue);}
section.projects .subtitle-projects{font-size: 16px;color: var(--default-color);margin-bottom: 12px;}
section.projects .block-inputs .gray-radio-label{text-transform: uppercase;}
section.projects .block-inputs .gray-radio-label:before {content: '';width: 18px;height: 18px;cursor: pointer;display: block;top: 0px;left: 0px;float: left;border: 1px solid var(--default-color);border-radius: 5px;margin-right: 7px;margin-bottom: 14px;}
section.projects .block-inputs .check-category{display: inline-block;margin-right: 76px;}
section.projects .block-inputs .gray-radio-label.blue{font-size: 12px;font-weight: 400;color: var(--default-color);cursor: pointer;}
section.projects .block-inputs .gray-radio-label.blue:after{border-color: var(--default-color);}
section.projects .block-inputs{margin-bottom: 35px;}
section.projects .inner-category img{width:100%;}
section.projects .title-project{position: absolute;top: 11px;left: 11px;color: #fff;font-size: 20px; font-weight: 700;transition: opacity 0.35s, transform 0.35s;}
section.projects .title-category{font-size: 10px;color: #fff;}
section.projects .title-project .category{font-size: 10px;text-transform: uppercase;text-align: left;font-weight:400;}
figcaption .btn-yellow{
  border: 2px solid #fcbf10;
  height: 40px;
  line-height: 37px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
figcaption .btn-yellow a{ color:#fcbf10;}
figcaption .btn-yellow:hover{background: #fcbf10;}
figcaption .btn-yellow:hover a{color:var(--default-color)}
.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 0 30px;
  width: 100%;
  background: #424242;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 11px;
  color: #fff;
  font-size: 16px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption
 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid figure figcaption > .btn-yellow{
  position: absolute;
  bottom: 14px;
  left: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  z-index: 1000;
  font-size: 0;
  opacity: 0;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/*.grid figure figcaption > .btn-yellow {*/
  /**/
/*}*/

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  font-size: 16px;
  line-height: 20px;
}


figure.effect-sarah {
  background: #424242;
}

figure.effect-sarah img {
  max-width: none;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  /*width: 100%;*/
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-sarah:hover img {
  opacity: 0.4;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
  text-align: left;
}

figure.effect-sarah h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
}

figure.effect-sarah h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
figure.effect-sarah:hover .title-project{
  font-weight: 400;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sarah p {
  padding: 65px 0 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-sarah:hover .btn-yellow{
  opacity: 1;
  font-size: 13px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Project detail */
section.project{margin-top: -131px;}
section.project .name-page{z-index: 100000;position: relative;margin-bottom: 62px;font-size: 14px;font-weight: 700;text-transform: uppercase;color: var(--main-blue);}
section.project .title{font-family: var(--title-font);font-size: 48px;}
section.project .project-top{background: url('/front/img/home/foto-con-rayas.jpg') no-repeat center center; background-size: cover;}

/* FOOTER */
footer{padding-top:48px;background: var(--white);}
footer a{cursor: pointer;}
footer .top-footer{position: relative;overflow: hidden;}
footer .logo{max-width: 342px;width: 100%;}
footer .gorila{position: absolute;bottom: -68px;left: 0;max-width: 478px;width:100%;}
.text-logo{color: var(--main-blue);font-size: 14px;font-weight: 700;margin-top: 11px;}
.text-logo a{color: var(--main-blue);}
.text-logo a:hover{color: var(--main-blue) !important;}
footer .top-footer .slogan{margin-top:32px;margin-bottom: 44px;}
footer .top-footer .slogan p{margin-bottom: 0;font-family: var(--title-font);color: #023c4e;font-size: 24px;line-height: 28px;}
footer .google{margin-bottom: 59px;}
footer ul.menu-footer{list-style: none;}
footer ul.menu-footer li a{color:var(--default-color);}
footer ul.menu-footer li{margin-bottom: 10px;font-size: 16px;}
footer ul.menu-footer li:last-child{margin-top: 43px;}
footer .last-col ul.menu-footer{margin-top:140px;}
footer .last-col ul.menu-footer li:last-child{margin-top: 0;}
footer .contact{margin-bottom: 50px;margin-top:80px;color:var(--main-blue);}
footer .contact p{font-weight: 700;font-size: 16px;}
footer .footer-bottom{position: relative;background: var(--default-color);padding: 19px 0 30px;}
footer .footer-bottom:before{background: var(--default-color);top: -19px;content: '';display: block;height: 30px;left: 0;position: absolute;right: 0;transform: skewY(-1deg);transform-origin: 100%;}
footer .footer-bottom p{color:var(--white);}
footer .footer-bottom a.terms{text-decoration: underline;color:var(--white);}


