text.business, text.mark, text.influ, text.web, text.media, text.online, text.seo{
    cursor: pointer;
}
.title-info.mouseenter{
    font-weight: 700!important;
    font-size: 20px!important;
    margin-bottom: 25px!important;
    line-height: 24px!important;
}
.text-grey{
    opacity: 0.3;
}
#nav-icon1 {
    width: 24px;
    height: 17px;
    position: relative;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #023c4e;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 7px;
}

#nav-icon1 span:nth-child(3) {
    top: 14px;
}

#nav-icon1.open span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
span.arrow{
    border: solid #023c4e;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
}
span.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#sobre{min-width: 33px;}
.servicios:hover , .especializaciones:hover {cursor: pointer}
section.whitepapers.detail .name-page {z-index: 100000;position: relative;margin-bottom: 0;margin-top: 50px;font-weight: 700; font-size: 16px;}
section.whitepapers.detail .image img{width: 100%;}
section.whitepapers.detail .btn-blue{position: relative;z-index: 1;margin: 10px 0 10px;float: right;}
section.whitepapers.detail .btn-yellow-full{margin-top: 25px; cursor: pointer}
section.whitepapers.detail .description .number{margin-top: 10px;margin-bottom: 15px;}
section.whitepapers.detail .description p{font-size: 16px; font-weight: 400; line-height: 22px;}
header.header-white {background-color: #ffffff!important; position: relative; z-index: 100;}
header.header-blue-mbl {background: transparent!important;position: relative;z-index: 100;}
header.header_transparent {background: transparent!important;position: relative;z-index: 100;}
header .img-logo{padding-top:39px;}
header .menu {list-style-type: none !important;text-align: right;}
header.header_home .menu li.especializaciones, header.header_home .menu li.servicios{cursor: default;}
header.header_home .menu li {color: var(--white);font-family: var(--main-font);font-size: 18px;line-height: 24px;font-weight: 600;margin-left: 2%;margin-right: 2%;}
header .menu li {font-family: var(--main-font);font-size: 18px;line-height: 24px;font-weight: 600;margin-left: 2%;margin-right: 2%;}
header .menu .mobile-dropdown , header .menu .esp-mobile-dropdown{list-style: none;display: none; border-bottom: 1px solid var(--main-blue); margin-bottom: 20px;}
header .menu .mobile-dropdown a , header .menu .esp-mobile-dropdown a{font-size: 16px!important;}
header .mbl-especializaciones span, header .mbl-servicios span{margin-right:14px;float: right;-webkit-transition: 300ms;-moz-transition: 300ms;-ms-transition: 300ms;-o-transition: 300ms; transition: 300ms; margin-top: 5px;}
header .rotated {transform: rotate(225deg);-ms-transform: rotate(225deg);-moz-transform: rotate(225deg);-webkit-transform: rotate(225deg);-o-transform: rotate(225deg);-webkit-transition: 300ms;-moz-transition: 300ms;-ms-transition: 300ms;-o-transition: 300ms;transition: 300ms;}
section.home{margin-top: -134px;}
header .menu .especializaciones ul, .menu .servicios ul{display: none;position: absolute;background-color: rgba(255,255,255,0.95);margin-top: 20px;z-index: 1000;margin-left: -15px;text-align: left;width: 245px;box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 9px 1px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 5px 9px 1px rgba(0, 0, 0, 0.2);border-top: 3px solid var(--main-blue);}
header #menu-content .menu:last-child li{padding-bottom: 22px; position: relative;list-style: none;}
header #menu-content .menu:last-child .dropdown li{padding-bottom: unset;padding-left: 20px;width: 100%;padding-right: 20px;margin-left: 0px!important;}
header #menu-content .menu:last-child .dropdown li:hover a{color:var(--main-blue);transition: all 0.3s ease;}
header .menu .especializaciones ul:after, .menu .servicios ul:after{content: "";position: absolute;bottom: 100%;left: 10%;margin-left: -8px;border-width: 5px;border-style: solid;color: var(--main-blue);clip-path: polygon(0% 120%, 120% 120%, 0% 0%);}

header .menu .especializaciones ul a, .menu .servicios ul a{transition: all 0.3s ease;
    color: var(--default-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: var(--main-font);
    /*padding: 12px 16px;*/
    margin-top: 15px;
    text-decoration: none;
    display: block;
}
header .menu .especializaciones ul li:last-child, .menu .servicios ul li:last-child{
    margin-bottom: 15px;
}
header .menu .especializaciones ul li, .menu .servicios ul li{
    height: unset;
}
header .menu .especializaciones ul a:hover, .menu .servicios ul a:hover{

}
header .menu .especializaciones:hover ul, .menu .servicios:hover ul{
    display: block;
    list-style-type: none !important;
    z-index: 1000;
}

header .menu .especializaciones .dropdown{
    width: 342px;
}
header .menu a {
    color: inherit;
}
header .little li{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
header .menu.little{
    margin-top: 19px;
}
.main-blue{
    color: var(--main-blue)!important;
}
.default-color{
    color: var(--default-color)!important;
}
#mobile-menu-content{
    display: none;
}
#button-mobile{
    display: none;
}
section.service{
    background-color: #f4f8f9;
}
section.specializations.emarketing #emarketing-mvl{display: none}
section.service #response {font-weight: 700;font-size: 20px;color: var(--white);margin-bottom: 20px;text-align: center;}
section.service .form-block .form-control.not-correct{border: 1px solid #fbd0d0;background:#fbd0d0; }
section.service .title-service{margin-top: 0px; max-width: 901px; font-size: 48px}
section.service .blue-word{z-index: 1000; margin-top: 90px;}
section.service .text-service{padding-top: 20px; margin-bottom: 100px}
section.service .top-page{margin: 20px 0 46px 0;}
section.service .top-page p {max-width: 540px;}
section.service .text-page .description1, section.service .text-page .description2{max-width: 540px;}
section.service .form-block .form-group label{color: var(--white);}
section.service .form-block .form-check .form-check-label{color:var(--white);}
section.service .form-block{max-width: 315px;}
section.service .form-block .btn-yellow-full{width:205px;}
section.service .form-block .form-group input[type="text"]{min-height: 43px;}
section.service .form-block .form-group textarea{min-height: 92px;}
section.service .conclusion-service .conclusion{margin-left: 89px;color: var(--white);font-size: 18px;font-weight: 700;line-height: 24px; background-color: #023c4e; max-width: 574px;}
section.service .conclusion-service .conclusion div{padding-left: 30px;padding-right: 30px;}
section.service .conclusion-service .conclusion div:first-child{padding-top:40px}
section.service .conclusion-service .conclusion div:last-child{padding-bottom:40px}
section.service .conclusion-service .conclusion p{padding-left: 30px;padding-right: 30px;}
section.service .conclusion-service .conclusion p:first-child{padding-top:40px}
section.service .conclusion-service .conclusion p:last-child{padding-bottom:40px}
section.service .text-page ul{padding-left: 80px;font-family:Muli;font-size:16px;color: var(--default-color);}
section.service .text-page ul li {margin-bottom: 10px}
section.service .contact-block label, section.projects .contact-block label {cursor: pointer;font-weight: 400;font-size: 14px;}
section.service .contact-block, section.projects .contact-block{background-attachment: fixed; padding:68px 0 68px;background: url('/front/img/contact-service.png') no-repeat center center; background-size:cover;}
.white-radio-label.not-correct:before {border: 2px solid red;}
.white-radio-label{display: block;position: relative;clear: both;margin: 0px 0px 10px 0px;}
.white-radio-label:after {content: '';width: 10px;height: 6px;position: absolute;top: 6px;left: 5px;border: 3px solid #ffffff;border-top: none;border-right: none;background: transparent;opacity: 0;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.white-radio-label:before {content: '';width: 20px;height: 20px;cursor: pointer;display: block;top: 0px;left: 0px;float: left;border: 2px solid #ffffff;border-radius: 2px;margin-right: 9px;margin-bottom: 14px;}
section.service .quote-mbl {display: none;}
section.service form .lastname, section.projects form .lastname{display: none;height:  0;visibility:  hidden;}
/*footer .footer-bottom .footerphrase{display: none;}*/
.w100{width: 100%}
@media (max-width: 768px){

    footer ul.menu-footer.gray{margin-top: 35px;}
    footer .top-footer .col-last {margin-top: 50px;}

    footer .top-footer {overflow: unset;}
    footer .top-footer .slogan {margin-top: 83px;margin-bottom: 44px;float: unset;margin-left: 113px;position: absolute;}
    footer .footer-bottom .footerphrase{display:block; padding-top: 20px;padding-left: 24px;font-size: 14px;font-weight: 400;line-height: 14px;  }
    footer .footer-bottom{height: 56px;}

}



@media (max-width: 1199px) {
    header .menu li {margin-left: 1.9%!important;}
    section.specializations.emarketing .container {padding-left: 0px !important;padding-right: 0px !important;width: 90% !important;max-width: 90% !important;}
    section.specializations.emarketing .name-page {text-align:center; margin-top: 50px;margin-bottom: 27px !important;}
    section.specializations.emarketing .ecommerce-top .ecommerce-description{padding-left: 0}
    section.specializations.emarketing .ecommerce-top .ecommerce-description .text {width: 100%;padding: 0 5%;}
    section.specializations.emarketing .img-info {float: left!important; width: 80%;}
    section.specializations.emarketing .img-info#first{float: right!important; width: 80%;}
    section.specializations.emarketing .img-info#second{float: left!important; width: 80%;}
    section.specializations.emarketing .img-info img {width: 100%!important;}
    section.specializations.emarketing #emarketing{display: none}
    section.specializations.emarketing #emarketing-mvl{display: block}
}
@media (max-width: 992px) {
    section.service .blue-word {margin-top: 50px;margin-bottom:27px; text-align: center;font-weight: 700;}
    .img-info {float: left;width: 100%!important;}
    .img-info img{width: 100%!important;}
    section.specializations ul.list-benefits {margin-left:30px;}
    section.specializations .ecommerce-top .ecommerce-description .text {width: 100%; padding: 0 5%;}
    section.service .title-service {text-align: center;font-size: 36px; line-height: 36px; margin-top: 10px;}
    section.service .top-page p {font-size: 20px; line-height: 24px;}
    section.service .text-service .top-page .text-page p{font-size: 16px;}
    section.service .quote-desk {display:none;}
    section.service .quote-mbl {display: block;}
    section.service .conclusion-service .conclusion {margin: 0 auto}
    section.service .text-service {margin-bottom: 30px;}
    section.service .big-title {margin: 20px auto 34px auto;}
    section.service .quote {margin-bottom: 35px;}
    section.service .form-block {margin:0 auto;}
    section.home{margin-top: -89px;}
    #menu-content{display: none;}
    #mobile-menu-content{margin-top: 20px;}
    #mobile-menu-content hr{border-top: 1px solid lightgrey;width: 150%;margin-left: -15%;}
    #button-mobile{display: block;position: fixed;right: 3%;top: 17px;background: rgba(255, 255, 255, 0.8);padding: 13px 10px;border-radius: 100%;box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.2);}
    header .menu > li{display: block;}
    header .menu {text-align: left;padding-left: 8px;margin-bottom: 0px;padding-right: 8px;}
    header .menu li {text-align: left;margin-left: 22px;margin-bottom: 0px;height: unset;}
    header #mobile-menu-content .menu li{margin-bottom: 20px;}
    header #mobile-menu-content .menu:first-child li{font-weight: 700; margin-right: 0;}
    header #mobile-menu-content .menu:last-child li:last-child{margin-bottom: 28px;}
    header .menu.main-blue a{color: var(--main-blue)!important}
    #header:after {background: inherit;bottom: 0;content: '';display: block;height: var(--height);left: 0;position: absolute;right: 0;transform: unset;transform-origin: unset;z-index: -1;}
    #mobile-menu-content .menu a{color: var(--default-color);}
    header .img-logo{width: 100%;max-width: 232px;padding-top: 22px; padding-bottom: 25px;}
    header.pos-abs{position: absolute!important;z-index: 1000000000!important;top: 0px; overflow: hidden;}
    header #mobile-menu-content .separator:before{border-top: solid 1px black;margin-left: -300px;width: 200%;}
    header #mobile-menu-content .separator:before{width: 100%;}
    #header {opacity: 1!important;}
    section.whitepapers {margin-top: 0;}
    header.header-blue-mbl {background: #f3f9f9!important;position: relative;z-index: 100;}
    .whitepaper-popup .form-block {
        box-shadow: 0 0 24px 6px rgba(2, 60, 78, 0.5);
        z-index: 1000;
        background-size: cover !important;
        background: url(/front/img/bg-whitepapers.png) no-repeat center center;
        max-width: 648px;
        padding: 30px;
        position: fixed;
        top: 5%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .whitepaper-popup .form-block .title-popup {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 22px;
        color: #023c4e;
        font-weight: 700;
    }
    #form_newsletter .btn-yellow-full {
        margin-bottom: 10px;
    }
    .form-group {
        margin-bottom: 15px!important;
    }
    section.whitepapers .whitepaper .text-col {
        display: block;
        width: 100%;
    }
    section.whitepapers .whitepaper .btn-yellow-full {
        max-width: 143px;
        display: block;
        width: unset;
        float: unset;
    }
}
